USE [学生成绩管理系统]
GO
/****** Object:  Table [dbo].[c_info]    Script Date: 2023/12/22 22:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[c_info](
	[c_number] [varchar](10) NULL,
	[c_name] [varchar](10) NULL,
	[teacher] [varchar](10) NULL,
	[total] [varchar](10) NULL,
	[credit] [varchar](10) NULL,
	[c_type] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[s_c_info]    Script Date: 2023/12/22 22:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[s_c_info](
	[id] [varchar](10) NULL,
	[c_number] [varchar](10) NULL,
	[credit] [varchar](10) NULL,
	[score] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 2023/12/22 22:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[a_name] [varchar](10) NULL,
	[a_password] [varchar](10) NULL,
	[power] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_2]    Script Date: 2023/12/22 22:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_2](
	[id] [varchar](10) NULL,
	[name] [varchar](10) NULL,
	[phone] [varchar](10) NULL,
	[e-mail] [varchar](10) NULL,
	[type] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[c_info] ([c_number], [c_name], [teacher], [total], [credit], [c_type]) VALUES (N'88', N'网络', N'sjt', N'3', N'55', N'必修')
INSERT [dbo].[c_info] ([c_number], [c_name], [teacher], [total], [credit], [c_type]) VALUES (N'2', N'语文', N'll', N'30', N'2', N'选修')
INSERT [dbo].[c_info] ([c_number], [c_name], [teacher], [total], [credit], [c_type]) VALUES (N'3', N'数学', N'll', N'30', N'3', N'必修')
INSERT [dbo].[s_c_info] ([id], [c_number], [credit], [score]) VALUES (N'16', N'2', NULL, N'50')
INSERT [dbo].[s_c_info] ([id], [c_number], [credit], [score]) VALUES (N'16', N'5', NULL, N'100')
INSERT [dbo].[s_c_info] ([id], [c_number], [credit], [score]) VALUES (N'16', N'9', NULL, N'100')
INSERT [dbo].[user] ([a_name], [a_password], [power]) VALUES (N'admin', N'123', N'admin')
INSERT [dbo].[user] ([a_name], [a_password], [power]) VALUES (N'jy', N'123', N'students')
INSERT [dbo].[user] ([a_name], [a_password], [power]) VALUES (N'a', N'123', N'teacher')
INSERT [dbo].[user_2] ([id], [name], [phone], [e-mail], [type]) VALUES (N'16', N'jy', N'472', N'141', N'students')
INSERT [dbo].[user_2] ([id], [name], [phone], [e-mail], [type]) VALUES (N'40', N'lll', N'1554', N'2555', N'teacher')
INSERT [dbo].[user_2] ([id], [name], [phone], [e-mail], [type]) VALUES (N'8', N'wjy', N'44', N'55', N'students')
