USE [book]
GO
/****** Object:  Table [dbo].[book]    Script Date: 2023/12/24 18:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[book](
	[id] [varchar](10) NOT NULL,
	[name] [varchar](10) NULL,
	[sex] [varchar](10) NULL,
	[age] [varchar](10) NULL,
	[phone] [varchar](11) NULL,
	[address] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
